diffusers[torch]==0.32.2
transformers==4.48.3
accelerate==1.2.1
xformers==0.0.29
torchvision==0.20.1
numpy==1.26.4
opencv-python==4.10.0.84
wandb==0.16.6
tqdm==4.66.5
lightning[extra]==2.4.0
safetensors==0.4.5
simple-parsing==0.1.6
pyarrow==15.0.2
img2dataset==1.45.0
numba==0.60.0
scikit-image==0.24.0